.u-section-1 {
  background-image: url("images/asa1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 708px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: 68px -127px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 430px auto 40px;
  padding: 33px 94px 33px 93px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 395px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 278px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 447px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 182px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 335px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 75px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 211px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-2 {
  background-image: linear-gradient(#f2f2f2, #adcce9);
}

.u-section-2 .u-sheet-1 {
  min-height: 681px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  width: 624px;
  margin: 61px auto 0;
}

.u-section-2 .u-image-1 {
  width: 571px;
  height: 343px;
  margin: 65px -1px 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: -299px 593px 48px 46px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 207px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 439px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-right: 219px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 324px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: -280px;
    margin-right: 39px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 542px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 204px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -160px;
    margin-right: 0;
  }
}.u-section-3 {
  background-image: linear-gradient(#adcce9, #c0c0c0);
}

.u-section-3 .u-sheet-1 {
  min-height: 572px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  width: 244px;
  margin: 66px auto 0;
}

.u-section-3 .u-image-1 {
  width: 571px;
  height: 343px;
  margin: 80px auto 0 28px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: -283px -15px 60px 654px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: 207px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 554px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    margin-left: 444px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 324px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: -264px;
    margin-left: 354px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 204px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -144px;
    margin-left: 254px;
  }
}.u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/asa3.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 846px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  width: 297px;
  margin: 150px auto 0;
}

.u-section-4 .u-form-1 {
  height: 344px;
  width: 662px;
  margin: 33px auto 60px;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 698px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 288px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 221px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 401px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 166px;
  }

  .u-section-4 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 252px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 105px;
  }

  .u-section-4 .u-form-1 {
    width: 340px;
  }
}.u-section-5 {
  background-image: linear-gradient(#d9d9d9, #77aad9);
}

.u-section-5 .u-sheet-1 {
  min-height: 987px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  width: 359px;
  margin: 94px auto 0;
}

.u-section-5 .u-list-1 {
  margin-top: 120px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 26.6667px));
  min-height: 656px;
  grid-gap: 40px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 21px;
}

.u-section-5 .u-image-1 {
  width: 286px;
  height: 286px;
  background-image: url("images/ari.jpg");
  background-position: 50% 50%;
  margin: -63px auto 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 23px 9px 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: none;
  margin: 12px 9px 0;
}

.u-section-5 .u-text-4 {
  font-style: normal;
  font-weight: 400;
  margin: 23px 9px 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 21px 30px;
}

.u-section-5 .u-image-2 {
  width: 286px;
  height: 286px;
  background-image: url("images/farzaan.png");
  background-position: 50% 50%;
  margin: -63px auto 0;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 23px 9px 0;
}

.u-section-5 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: none;
  margin: 12px 9px 0;
}

.u-section-5 .u-text-7 {
  font-style: normal;
  font-weight: 400;
  margin: 23px 9px 0;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 0 21px;
}

.u-section-5 .u-image-3 {
  width: 286px;
  height: 286px;
  object-position: 50% 18.34%;
  background-image: url("images/rishabh.png");
  background-position: 50% 50%;
  margin: -63px auto 0;
}

.u-section-5 .u-text-8 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 23px 9px 0;
}

.u-section-5 .u-text-9 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: none;
  margin: 12px 9px 0;
}

.u-section-5 .u-text-10 {
  font-style: normal;
  font-weight: 400;
  margin: 23px 9px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    min-height: 541px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 20px;
  }

  .u-section-5 .u-image-1 {
    width: 247px;
    height: 247px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 20px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 20px;
  }

  .u-section-5 .u-image-3 {
    width: 247px;
    height: 247px;
  }

  .u-section-5 .u-text-8 {
    width: auto;
    margin-top: 20px;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-5 .u-text-9 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-5 .u-text-10 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 20px));
    min-height: 1243px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
  }

  .u-section-5 .u-text-8 {
    margin-right: 0;
  }

  .u-section-5 .u-text-9 {
    margin-right: 0;
  }

  .u-section-5 .u-text-10 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }
}.u-section-6 {
  background-image: linear-gradient(#77aad9, #adf6f2);
}

.u-section-6 .u-sheet-1 {
  min-height: 797px;
}

.u-section-6 .u-list-1 {
  margin-top: 76px;
  margin-bottom: 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 26.6667px));
  min-height: 656px;
  grid-gap: 40px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 0 21px;
}

.u-section-6 .u-image-1 {
  width: 286px;
  height: 286px;
  background-image: url("images/evan.jpg");
  background-position: 50% 0%;
  margin: -63px auto 0;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 23px 9px 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: none;
  margin: 12px 9px 0;
}

.u-section-6 .u-text-3 {
  font-style: normal;
  font-weight: 400;
  margin: 23px 9px 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 0 21px 30px;
}

.u-section-6 .u-image-2 {
  width: 286px;
  height: 286px;
  background-image: url("images/rishik.jpg");
  background-position: 50% 50%;
  margin: -63px auto 0;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 23px 9px 0;
}

.u-section-6 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: none;
  margin: 12px 9px 0;
}

.u-section-6 .u-text-6 {
  font-style: normal;
  font-weight: 400;
  margin: 23px 9px 0;
}

.u-section-6 .u-list-item-3 {
  background-image: none;
}

.u-section-6 .u-container-layout-3 {
  padding: 0 21px;
}

.u-section-6 .u-image-3 {
  width: 286px;
  height: 286px;
  object-position: 50% 18.34%;
  background-image: url("images/nikith.jpg");
  background-position: 50% 50%;
  margin: -63px auto 0;
}

.u-section-6 .u-text-7 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 23px 9px 0;
}

.u-section-6 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: none;
  margin: 12px 9px 0;
}

.u-section-6 .u-text-9 {
  font-style: normal;
  font-weight: 400;
  margin: 23px 9px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-repeater-1 {
    min-height: 541px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 20px;
  }

  .u-section-6 .u-image-1 {
    width: 247px;
    height: 247px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 20px;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 20px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 20px;
  }

  .u-section-6 .u-image-3 {
    width: 247px;
    height: 247px;
  }

  .u-section-6 .u-text-7 {
    width: auto;
    margin-top: 20px;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-6 .u-text-8 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-6 .u-text-9 {
    width: auto;
    margin-right: 3px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 20px));
    min-height: 1243px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
  }

  .u-section-6 .u-text-7 {
    margin-right: 0;
  }

  .u-section-6 .u-text-8 {
    margin-right: 0;
  }

  .u-section-6 .u-text-9 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-list-1 {
    margin-top: 240px;
  }
}.u-section-7 {
  background-image: linear-gradient(#adf6f2, #e9f2fa);
}

.u-section-7 .u-sheet-1 {
  min-height: 797px;
}

.u-section-7 .u-list-1 {
  margin-top: 76px;
  margin-bottom: 60px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 656px;
  grid-gap: 40px;
}

.u-section-7 .u-container-layout-1 {
  padding: 0 21px 30px;
}

.u-section-7 .u-image-1 {
  width: 340px;
  height: 340px;
  background-image: url("images/fernanda.png");
  background-position: 50% 50%;
  margin: -48px 370px 0 auto;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  width: 634px;
  margin: 40px auto 0;
}

.u-section-7 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: none;
  margin: 0 9px;
}

.u-section-7 .u-text-3 {
  font-style: normal;
  font-weight: 400;
  width: 354px;
  margin: 40px auto 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 26.6667px));
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 20px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 20px));
    min-height: 1243px;
  }

  .u-section-7 .u-image-1 {
    margin-right: 338px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    margin-right: 180px;
  }

  .u-section-7 .u-text-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-list-1 {
    margin-top: 240px;
  }

  .u-section-7 .u-image-1 {
    width: 320px;
    height: 320px;
    margin-right: 0;
  }

  .u-section-7 .u-text-1 {
    width: 320px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-text-3 {
    width: 320px;
  }
}