.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/capture_post_no_hate_0.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 878px;
}

.u-section-1 .u-shape-1 {
  width: 917px;
  height: 130px;
  margin: 310px auto 0 95px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 4px;
  background-image: none;
  font-size: 6.25rem;
  font-family: "Lexend Exa";
  font-weight: 700;
  margin: -175px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 51px auto 0 310px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  font-size: 1.5rem;
  margin: 72px auto 60px 465px;
  padding: 9px 69px 11px 67px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 100%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 217px;
    margin-left: 23px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -298px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 155px;
    margin-left: 265px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-1 .u-shape-1 {
    width: 720px;
    margin-top: 262px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -316px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 237px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 63px;
    margin-left: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
    margin-top: 64px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -118px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 178px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 596px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    margin-top: 120px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: -174px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 112px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 381px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: Lato, sans-serif;
  margin: 94px auto 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  width: 680px;
  margin: 29px auto 60px;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 738px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 602px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-family: Alata;
  margin: 84px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  line-height: 1.8;
  font-family: "Open Sans", sans-serif;
  margin: 60px 47px 0;
}

.u-section-3 .u-image-1 {
  min-height: 602px;
  background-image: url("images/hate-1200x600-1.jpg");
  background-position: 23.71% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 38px;
  }

  .u-section-3 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 635px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 9px;
    margin-left: 29px;
  }

  .u-section-3 .u-image-1 {
    min-height: 635px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 486px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 818px;
  }

  .u-section-3 .u-image-1 {
    min-height: 729px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 794px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
    margin-left: 33px;
    margin-right: 33px;
  }

  .u-section-3 .u-image-1 {
    min-height: 459px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 772px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-image-1 {
  min-height: 617px;
  background-image: url("images/hate-spesech.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 617px;
}

.u-section-4 .u-container-layout-2 {
  padding: 29px 30px;
}

.u-section-4 .u-text-1 {
  font-family: Alata;
  margin: 73px 31px 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.4375rem;
  margin: 51px 15px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 668px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-image-1 {
    min-height: 509px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 576px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 47px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-4 .u-image-1 {
    min-height: 390px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 818px;
  }

  .u-section-4 .u-image-1 {
    min-height: 585px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-4 .u-image-1 {
    min-height: 368px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 719px;
}

.u-section-5 .u-text-1 {
  line-height: 1.4;
  letter-spacing: 1px;
  font-family: Alata;
  font-size: 3.75rem;
  margin: 135px 0 0 41px;
}

.u-section-5 .u-form-1 {
  height: 233px;
  margin: 62px 0 60px 41px;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  letter-spacing: 1px;
  font-family: Alata;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    width: 664px;
    margin-left: 0;
  }

  .u-section-5 .u-form-1 {
    width: 940px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-form-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-5 .u-form-1 {
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1991px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  font-family: "Lexend Exa";
  font-size: 3.75rem;
  margin: 76px 238px 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 517px;
  height: 726px;
  margin-top: 103px;
  margin-bottom: 0;
  grid-gap: 10px;
}

.u-section-6 .u-container-layout-1 {
  padding: 18px 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.875rem;
  font-family: "Lexend Exa";
  text-transform: uppercase;
  margin: 19px 36px 0 48px;
}

.u-section-6 .u-text-3 {
  font-family: Alata;
  font-size: 1.25rem;
  margin: 21px 18px 0 30px;
}

.u-section-6 .u-image-1 {
  width: 290px;
  height: 290px;
  background-image: url("images/20201014_010742_206.jpg");
  background-position: 50% 14.53%;
  margin: 30px auto 0;
}

.u-section-6 .u-text-4 {
  font-family: Alata;
  font-size: 1.125rem;
  margin: 58px 11px 0 37px;
}

.u-section-6 .u-container-layout-2 {
  padding: 18px 0;
}

.u-section-6 .u-text-5 {
  font-size: 1.875rem;
  font-family: "Lexend Exa";
  text-transform: uppercase;
  margin: 19px 36px 0 48px;
}

.u-section-6 .u-text-6 {
  font-family: Alata;
  font-size: 1.25rem;
  margin: 21px 18px 0 30px;
}

.u-section-6 .u-image-2 {
  width: 290px;
  height: 290px;
  background-image: url("images/whatabeautifulannie.jpg");
  background-position: 50% 29.37%;
  margin: 30px auto 0;
}

.u-section-6 .u-text-7 {
  font-family: Alata;
  font-size: 1.125rem;
  margin: 58px 11px 0 37px;
}

.u-section-6 .u-container-layout-3 {
  padding: 18px 0;
}

.u-section-6 .u-text-8 {
  font-size: 1.875rem;
  font-family: "Lexend Exa";
  text-transform: uppercase;
  margin: 19px 36px 0 48px;
}

.u-section-6 .u-text-9 {
  font-family: Alata;
  font-size: 1.25rem;
  margin: 21px 18px 0 30px;
}

.u-section-6 .u-image-3 {
  width: 290px;
  height: 290px;
  background-image: url("images/Snapchat-633614830.jpg");
  background-position: 50% 44.72%;
  margin: 30px auto 0;
}

.u-section-6 .u-text-10 {
  font-family: Alata;
  font-size: 1.125rem;
  margin: 58px 11px 0 37px;
}

.u-section-6 .u-repeater-2 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 517px;
  height: 669px;
  margin-top: 97px;
  margin-bottom: 60px;
  grid-gap: 10px;
}

.u-section-6 .u-container-layout-4 {
  padding: 18px 0;
}

.u-section-6 .u-text-11 {
  font-size: 1.875rem;
  font-family: "Lexend Exa";
  text-transform: uppercase;
  margin: 19px 36px 0 48px;
}

.u-section-6 .u-text-12 {
  font-family: Alata;
  font-size: 1.25rem;
  margin: 21px 18px 0 30px;
}

.u-section-6 .u-image-4 {
  width: 290px;
  height: 290px;
  background-image: url("images/ralph.png");
  background-position: 50% 50%;
  margin: 30px auto 0;
}

.u-section-6 .u-text-13 {
  font-family: Alata;
  font-size: 1.125rem;
  margin: 58px 11px 0 37px;
}

.u-section-6 .u-container-layout-5 {
  padding: 18px 0;
}

.u-section-6 .u-text-14 {
  font-size: 1.875rem;
  font-family: "Lexend Exa";
  text-transform: uppercase;
  margin: 19px 36px 0 48px;
}

.u-section-6 .u-text-15 {
  font-family: Alata;
  font-size: 1.25rem;
  margin: 21px 18px 0 30px;
}

.u-section-6 .u-image-5 {
  width: 290px;
  height: 290px;
  background-image: url("images/again.png");
  background-position: 50% 50%;
  margin: 30px auto 0;
}

.u-section-6 .u-text-16 {
  font-family: Alata;
  font-size: 1.125rem;
  margin: 58px 11px 0 37px;
}

.u-section-6 .u-container-layout-6 {
  padding: 18px 0;
}

.u-section-6 .u-text-17 {
  font-size: 1.875rem;
  font-family: "Lexend Exa";
  text-transform: uppercase;
  margin: 19px 36px 0 48px;
}

.u-section-6 .u-text-18 {
  font-family: Alata;
  font-size: 1.25rem;
  margin: 21px 18px 0 30px;
}

.u-section-6 .u-image-6 {
  width: 290px;
  height: 290px;
  background-image: url("images/fernanda.png");
  background-position: 50% 0%;
  margin: 30px auto 0;
}

.u-section-6 .u-text-19 {
  font-family: Alata;
  font-size: 1.125rem;
  margin: 58px 11px 0 37px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-right: 138px;
    margin-left: 138px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: NaNpx;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-image-1 {
    background-position: 50% 13.21%;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-image-3 {
    background-position: 50% 42.6%;
  }

  .u-section-6 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-repeater-2 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: NaNpx;
  }

  .u-section-6 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-image-4 {
    background-position: 0% 50%;
  }

  .u-section-6 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-14 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-image-5 {
    background-position: 100% 50%;
  }

  .u-section-6 .u-text-16 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-17 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-18 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-19 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2139px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 156px;
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }

  .u-section-6 .u-repeater-2 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    height: 662px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-repeater-2 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2517px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-text-11 {
    width: auto;
  }

  .u-section-6 .u-text-14 {
    width: auto;
  }

  .u-section-6 .u-text-17 {
    width: auto;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 638px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 636px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 9.375rem;
  margin: 34px 50px 0 32px;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 636px;
}

.u-section-7 .u-container-layout-2 {
  padding: 0;
}

.u-section-7 .u-image-1 {
  width: 404px;
  height: 404px;
  background-image: url("images/ai_camp_logo.png");
  background-position: 50% 50%;
  margin: 51px 81px 0 auto;
}

.u-section-7 .u-text-2 {
  font-size: 1.875rem;
  font-family: Alata;
  font-style: italic;
  margin: 32px 0 0 5px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 496px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 524px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 524px;
  }

  .u-section-7 .u-image-1 {
    margin-right: 66px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-text-1 {
    font-size: 6rem;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-image-1 {
    width: 360px;
    height: 360px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 587px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1048px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 62px;
    margin-bottom: 60px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 308px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-7 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 2px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 528px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 340px;
  }
}